*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 26, 26);
}
.main{
    width: 40%;
    height: 500px;
    background-color: aqua;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 100px;
}
.main input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
}
::placeholder{
    font-size: larger;
}
#r{
    width: 70px;
    height: 25px;
}

.main td{
    padding-bottom: 30px;
}
